* {
  box-sizing: border-box;
}

body {
  font-family: Verdana, sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

a {
  font-weight: bold;
  text-decoration: none;
  color: darkslateblue;
}

a:visited {
  color: darkslateblue;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  background-color: aliceblue;
  border-bottom: 1px solid darkslateblue;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

header.hidden {
  transform: translateY(-100%);
}

header > * {
  margin-left: 20px;
  margin-bottom: 10px;
}

/*
    TODO: solve the problem of having to update media queries every time the content of the header changes
    Possiblities:
      1. just always set the margin on the <main> element with JS based on the height of the header?
      something like :
    window.addEventListener('resize', function(){
      document.querySelector('main').style.marginTop = document.querySelector("header").clientHeight + 'px';
      })
      ... with a similar function firing when the page first loads.

      2. Something else? Can CSS do this on its own, and not break if the user changes the default font, lineheight, spacing, etc etc or the content itself is changed?
 */


section {
  padding: 10px;
}

#transcript {
  font-size: 26px;
  margin-bottom: 40px;
}

#start-listen {
  background: url("../microphone.png") no-repeat scroll 0 0 transparent;
  background-size: 18px;
  background-position: 16px 9px;
  background-color: rgb(0, 192, 0);
  flex-grow: 1;
  padding: 10px;
  padding-left: 42px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#start-listen:hover {
  background-color: rgb(0, 150, 0);
}

#stop-listen {
  background: url("../microphone.png") no-repeat scroll 0 0 transparent;
  background-size: 18px;
  background-position: 16px 9px;
  background-color: rgb(192, 0, 0);
  flex-grow: 1;
  padding: 10px;
  padding-left: 42px;
  border-radius: 6px;
  font-size: 24px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  cursor: pointer;
}

#stop-listen:hover {
  background-color: rgb(150, 0, 0);
}

.interim {
  font-size: 22px;
  color: #555;
  bottom: 0;
  left: 0;
  background-color: #fff;
  padding: 8px;
  width: 100%;
  border-top: 1px solid gray;
  position: fixed;
  min-height: 2em;
}

.snippet {
  outline: none;
  display: inline-block;
  /* animation: bgFlash 1s; */
  margin-left: 2px;
  padding: 0 2px;
  border-radius: 2px;
}

@keyframes bgFlash {
  0% {
    background: rgba(192, 192, 255, 0.5);
  }
  100% {
    opacity: rgba(192, 192, 255, 0);
  }
}

.name-transcript, .credit {
  font-size: 16px;
  max-width: 80ch;
}

.transcript-export {
  width: 600px;
  height: 200px;
  margin: 10px;
}

#showhide-button {
  position: absolute;
  bottom: -40px;
  right: 20px;
}
